
.button-top {
    position: fixed;
    display: none;

    right: 10px;
    bottom: 20px;

    height: 50px;
    width: 50px;

    background-color: rgb(255,255,255);
    border: solid 1px coral;
    border-radius: 50%;
    padding: 13px 13px;
    box-shadow: rgb(56 37 92 / 15%) 0px 4px 8px;

}

.button-top i { 
    color: rgb(255, 88, 160);
    font-size: 20px;
    font-weight: bold;
    
}