/* reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Poppins, sans-serif;
    /* font-family: "Montserrat",sans-serif; */
    /* font-family: 'Courier New', Courier, monospace; */
    text-decoration: none;
    text-transform: none;
    line-height: 1.5;
}

button {
    font-family: Poppins;
}