.content-7 {
    display: flex;
    justify-content: center;

    padding: 80px 0;

    background: rgb(252, 251, 255);
}

.content-7 .contact {

    width: 220px;
    color: rgb(56, 37, 92);
}

.content-7 .contact h2 {
    font-size: 34px;
    font-weight: bolder;
    margin-bottom: 30px;
}

.content-7 .contact p {
    margin: 10px 0;
}

.content-7 .contact a {
    text-decoration: none;
    margin: 5px;

}

.content-7 .contact i {
    color: rgb(255, 88, 160);
    font-size: 19px;
}

.content-7 .contact .tel-number {
    margin-bottom: 40px;
}

.content-7 .form-contact {
    width: 400px;
    margin-left: 300px;
}

.content-7 .get-inform .get-name,
.content-7 .get-inform .get-email {
    display: flex;
}

.content-7 .form-contact input {
    width: 400px;
    height: 50px;

    font-size: 16px;
    color: rgb(56, 37, 92);
    font-weight: 300;

    border-radius: 50px;
    border: 1px solid rgba(56, 37, 92, 0.3);
    padding: 0 25px 0px 25px;
    margin-bottom: 20px;
}

.content-7 .form-contact .content-form textarea {
    height: 200px;
    width: 100%;
    border-radius: 30px;

    font-family: Poppins;
    font-size: 16px;
    padding-top: 16px;
    padding-left: 16px;

    border: 1px solid rgba(56, 37, 92, 0.3);

    resize: none;

}

.content-7 .send-form-btn {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.content-7 .send-form-btn button {
    width: 116px;
    height: 50px;
    border-radius: 50px;

    border: none;
    background: linear-gradient(-180deg, rgb(255, 202, 104) 0%, rgb(255, 88, 160) 96%) no-repeat;
    box-shadow: rgb(255 88 160 / 50%) 0px 4px 10px 0px;

    align-self: flex-end;

    color: #fff;

}

.content-7 .send-form-btn button:hover {
    background: rgb(255, 202, 104);
    
}