.content-5 {
    width: 100%;
    height: 1060px;
    padding: 80px 0;
    background: url("../assets/imgs/img4.jpg") center / cover no-repeat;

    display: flex;
    flex-direction: column;
    

    color: rgb(56, 37, 92);
}

.content-5 .title-description {
    margin: 0 auto;
    width: 700px;
}

.content-5 .title-content {
    color : rgb(255, 88, 160);
    text-align: center;
    font-size: 45px;

    margin-bottom: 20px;
    height: 65px;
}

.content-5 .description-content {
    text-align: center;
    font-size: 19px;

    width: 700px;
    height: 55px;
    margin-bottom: 40px;
}

.content-5 .list-training {
    display: flex;
    flex-direction: row;
    justify-content: center;

    list-style: none;

}

.content-5 .list-training .li-wrapper {
    display: block;
    position: relative;

    width: 348px;
    margin: 0 20px;

}

.content-5 .list-training .li-box-2 {
    top: -20px;
}

.content-5 .top-content {
    background: rgba(247, 245, 251, 0.4);
    backdrop-filter: blur(15px);

    display:flex;
    flex-direction: column;
    align-items: center;

    
    width: 348px;
    height: 275px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content-5 .top-content-box-2 {
    height: 295px;
}

.content-5 .top-content h2 {
    font-weight: bold;
    text-align: center;
    font-size: 32px;

    padding-top: 200px;
    
}

.content-5 .top-content-box-2 h2 {
    padding-top: 220px;
}

.content-5 .polygon-box-wrapper {
  
    background-color: rgb(178, 166, 200);

    position: absolute;
    top: -13px;

    width: 180px;
    height: 165px;
    margin-left: 8px;
    margin-right: 8px;


    /* polygon */
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 100%, 0% 75%) ;

}

.content-5 .polygon-box-wrapper-2 {
    background-color: rgb(178, 166, 200);

    position: absolute;
    top: -13px;

    width: 180px;
    height: 185px;
    
    margin-left: 8px;
    margin-right: 8px;


    /* polygon */
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 100%, 0% 75%) ;

}

.content-5 .polygon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

    background: #fff;
    width: 100%;
    height: 100%;
    clip-path: polygon(1px 1px, calc(100% - 1px) 1px, calc(100% - 1px) calc(75% - 1px), 50% calc(100% - 1px), 1px calc(75% - 1px)) ;
}

.content-5 .polygon-box-2 {
    height: 185px;
    background: linear-gradient(rgb(255, 202, 104), rgb(255, 88, 160));
}

.content-5 .polygon-box p {
    text-align: center;
}

.content-5 .li-wrapper::before,
.content-5 .li-wrapper::after {
    position: absolute;
    content: "";
    display: block;

    width: 8px;
    height: 13px;
    background-color:  rgb(178, 166, 200);

}

.content-5 .li-wrapper::before {
    top: -13px;
    left: 76px;

     /* polygon */
     clip-path: polygon(0 100%, 100% 0, 100% 100%);
}

.content-5 .li-wrapper::after {
    top: -13px;
    right: 76px;

    /* polygon */
    clip-path: polygon(0 0, 100% 100%, 0 100%);
}

.content-5 .bottom-content {
    background-color: #fff;

    /* border: solid coral 1px; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    border-top: #ccc 1px solid;
}

.content-5 .detail-training {
    padding-top: 12px;
    font-size: 18px;

}

.content-5 .detail-training >li {
    
    box-sizing: border-box;
    border-top: solid #ccc 1px;
    list-style: none;

    display: flex;
    flex-direction: row;
    
}

.content-5 .detail-training .first-li {
    border-top: none;
}

.content-5 .detail-training p {
    margin: 16px 0;
    margin-left: 48px;

}

.content-5 .detail-training .dot-p {
    align-self: center;
    position: absolute;

    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: rgb(255, 88, 160);
    border-radius: 50%;

    /* margin-right: 20px; */
    margin-left: 20px;
}

.content-5 .content-5-button_1,
.content-5 .content-5-button_2,
.content-5 .content-5-button_3 {
    display: flex;
    justify-content: center;

    margin-top: 32px;
    padding: 0 20px 50px;
}

.content-5 button {
    width:310px;
    height: 50px;
    border-radius: 25px;
    border: none;
    color: #fff;
    font-size: 14px;

    box-shadow: rgb(204 17 113 / 50%) 0px 4px 10px 0px;
}

.content-5 .content-5-button_1 button,
.content-5 .content-5-button_3 button {
    background-image: linear-gradient(-180deg, rgb(249, 138, 178) 0%, rgb(204, 17, 113) 96%);
    
}

.content-5 .content-5-button_2 button {
    background-image: linear-gradient(-180deg, rgb(255, 202, 104) 0%, rgb(255, 88, 160) 96%);
    
}