.footer {
    background: rgb(247, 245, 251);
    padding-top: 50px;
}

.footer .nav-footer {
    width: 100%;
    height: 45px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    list-style: none;
}

.footer .nav-footer li {
    display: inline-block;
    padding: 10px;
}

.footer .nav-footer a {
    text-decoration: none;
    color: rgb(56, 37, 92);

}

.footer .get-notified {
    margin-top: 70px;

    display: flex;
    list-style: none;
    height: 120px;
    justify-content: space-between;

    padding: 0 200px;
    padding-bottom: 70px;

    border-bottom: solid 1px rgba(56, 37, 92,0.5);
}

.footer .get-notified li {
    align-self: center;
    
}

.footer .get-notified p {
    color: rgb(56, 37, 92);
    font-weight: bold;
    font-size: 20px;

}

.footer .get-notified input {
    
    width: 300px;
    height: 50px;
    border-radius: 50px;

    border: 1px solid rgba(56, 37, 92, 0.3);

    font-size: 16px;
    color: rgb(56, 37, 92);

    padding-left: 30px;
    padding-right: 45px;

    /* position: relative; */
}

.footer .get-notified button {
    width: 165px;
    height: 50px;
    border-radius: 50px;
    background: linear-gradient(-180deg, rgb(255, 202, 104) 0%, rgb(255, 88, 160) 96%) no-repeat;
    border: none;
    color: white;

    position: absolute;
    /* left: 40px;  */
    margin-left: -50px;
}

.footer .get-notified .logo-footer {
    width: 105px;
    height: 115px;
    background: url("../assets/imgs/logo-1.png") center center / cover no-repeat;
    animation: 1.5s cubic-bezier(0.23, 1, 0.32, 1) 0.1s 1 normal forwards running fadeInImg;
}

.footer .icon-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    padding: 22px 200px;
    color: rgb(56, 37, 92);
}

.footer .icon-footer p {
    color: rgb(56, 37, 92);
    font-size: 14px;
}

.footer .icon-footer a {
    text-decoration: none;

}

.footer .icon-footer i {
    font-size: 19px;
    /* color: #333; */
    margin: 5px;
}