@keyframes slowly {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes hoverNextButton {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(10px);
    }
}

@keyframes hoverPrevButton {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-10px);
    }
}
