.slider {
    width: 100%;
    height: 940px;
    background-image: url('/assets/imgs/slide1.jpg') ;
    background-repeat: no-repeat;
    background-size: 100% ;
    background-position: center;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 0;

}

/* Content slider */
.content-slider {
    margin: 0 190px;
    width: 100%;
    height: 100%;
    
}

.content-slider ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: space-between; */
}

.content-slider li {
    list-style: none;

}

.content-slider .serial {
    padding-top: 150px;
    display: flex;
    color: #fff;
    align-items: flex-end;
    justify-content: flex-start;
}

.content-slider .serial .order {
    font-size: 56px;
    padding: 0 5px;
    font-weight: 700;
}

.content-slider .serial p {
    padding: 0 5px 1px;
    /* align-self: flex-end; */
}

.content-slider .serial .total {
    padding: 0 5px;
    font-size: 19px;
    /* align-self: flex-end; */

}

.content-slider_heading {
    padding-top: 120px;
    padding-bottom: 16px;
    font-size: 56px;
    font-weight: bold;
    color: #fff;
    /* margin-bottom: 20px; */
}

.content-slider_description {
    color: #ddd;
    font-size: 19px;
    width: 42%;
    font-weight: normal;
    padding-bottom: 30px;
}

.content-slider_button {
    width: 165px;
    height: 50px;
    background-image: linear-gradient(-180deg, rgb(255, 202, 104) 5%, rgb(255, 88, 160) 90%);
    border-radius: 25px;
    color: #fff;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.content-slider_button:hover {
    background: rgb(255, 88, 160);

}

.content-slider_dot {
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 50%;
    margin: 0 5px;
    display: inline-block;
    cursor: pointer;
    border: solid #ddd 1px;
    margin-bottom: -200px;
}

.dot-1 {
    background-color: #ddd ;
}

/* Button */
.next-button i,
.prev-button i {
    font-size: 36px;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.prev-button {
    margin-left: 150px;
    margin-right: -150px;
}

.next-button {
    margin-left: -150px;
    margin-right: 150px;
}

