@import './common.css';
@import './nav.css';
@import './slider.css';
@import './footer.css';

@import 'content-1.css';
@import 'content-2.css';
@import 'content-3.css';
@import 'content-4.css';
@import 'content-5.css';
@import 'content-6.css';
@import 'content-7.css';


